*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
    margin-top: 1em;
}

p{
    margin-top: 0.5em;
}

body{
    color:#ccc;
    background: #222;
}

header{
    min-height: 80px;
    background-color: rgb(63, 62, 62);
}

header>div{
    display: flex;
    flex-direction: row;
    height: 80px;
    align-items: center;
    padding: 10px 20px;
}

header>div>#logo{
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}

header>div>svg{
    margin-left: auto;
}

header nav{
    display: none;
    border-top:1px solid white;
}

header nav ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
}   

header nav ul li{
    width: 100%;
    display: flex;
    justify-content: center;
    min-height: 48px;
}

header nav ul li a{
    font-size: 14px;
}

a{
    text-decoration: none;
    color: white;
    text-transform: capitalize;
}

header nav ul a{
    width: 100%;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}



/* Section Styles */

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5em 0.8em;
    margin-bottom: 5%;
}

.section-header{
    margin: 0 0 42px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section:first-of-type>img{
    border-radius: 50%;
    border: 8px solid #444 ;
}


/* Favorite Interests */

.interest-block{
    display: flex;
    flex-direction: row;
    padding: 0 10px 40px 0;
}

.interest-block .interest-block_icon-wrapper{
    padding: 0.8em 0.4em 0 0;
    margin-top: 4%;
    display: flex;
    flex-direction: column;
}

.interest-block .interest-block_content-wrapper{
    padding: 0 0 0 0.5em;
}

.interest-block .interest-block_icon{
    width: 44px;
}



.interest-block h4{
    font-size: 1.5em;
}

/* Form */

form{
    display: flex;
    flex-wrap: wrap;
}